# Build directories
/build/
/cmake-build-debug/
/cmake-build-release/

# CMake cache and files
/CMakeFiles/
/CMakeCache.txt
/CTestTestfile.cmake
/cmake_install.cmake
/Makefile

# CLion / IntelliJ IDEA
.idea/
*.iml

# Compiler outputs
*.o
*.obj
*.lo
*.la
*.a
*.so
*.dll
*.dylib
*.exe
*.out
main

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# External third-party sources / builds
external/
nature02063.pdf

*.png
*.svg
